{% extends '../layout/frontend.html' %} 
{% load static %}
{% load utilidades %}


{% block styles %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">   
    <link rel="stylesheet" href="{% static '/estilos/styleVistarepuesto.css' %}">
{% endblock %}

  
{% block content %}
<div style="margin: 100px;"></div>
    <div class = "card-contenedor">
      <div class = "card">
        <!-- imagenes prodcto -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              {% for foto in fotos%}
              <img src = "{% static 'upload/producto/' %}{{foto.foto}}" alt = "autito">
              {% endfor %}
            </div>
          </div>
          <div class = "img-select">
            {% for foto in fotos%}
            <div class = "img-item">
              <a href = "#" data-id = "{{ forloop.counter }}">
                <img src = "{% static 'upload/producto/' %}{{foto.foto}}" alt = "autito">
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        <!--**************************************************************-->




        <!-- contenido card de la derecha, titulo etc del vehiculo -->
        <div class = "product-content">
          <h2 class = "product-title">{{datos.titulo}}</h2>
          <a href = "#" class = "Marca-prod"></a>
          

          <div class = "precio-prod-cont">
            <p class = "precio">Valor:<span>  $ {{datos.precio|numberFormat}}</span></p>
            
          </div>

        <!-- contenido input cantidad a comprar, mas boton -->
        <select class="form-control form-control-sm" id="cantidad" >

          {% with ''|center:datos.stock as range %}
         {% for _ in range %}
        <option value="{{ forloop.counter }}">
        {{ forloop.counter }}
      </option>
       {% endfor %} 
            {% endwith %}
      </select>
        
        <hr/>
        <div class="d-flex">
         <a href="javascript:void(0);" class="boton_cotizar" onclick="agregarAlCarro();" title="Agregar al carro"><i class="fas fa-cart-plus"></i> Agregar al carro</a>
        </div>
        
        <div class="d-flex">
          <a href="https://api.whatsapp.com/send?phone=123212&text=Hola%20necesito%20informaci%C3%B3n%20del%20producto%20{{datos.nombre}}" class="boton_cotizar_whatsapp" title="Consultar por whatsapp" target="_blank"><i class="fab fa-whatsapp"></i> Pedir por whatsapp</a>
            </div>
          
          

        <!--**************************************************************-->

          
          <div  class = "detalles-prod">
            <ul>
              <li>Tipo parte: <span>{{datos.repuesto.tipo_parte}}</span></li>
              <li>stock: <span>{{datos.stock}}</span></li>
              <li>Categoria: <span>{{datos.repuesto.categoria}}</span></li>
              <li>Num repuesto: <span>{{datos.repuesto.num_repuesto}}</span></li>
              <li>Dimension: <span>{{datos.repuesto.dimension}}</span></li>
              <li>Peso unitario: <span>{{datos.repuesto.peso_unitario}}</span></li>
              <li>Hecho en: <span></span>{{datos.repuesto.hecho_en}}</li>
              <li>Modelo adecuado: <span>{{datos.repuesto.modelo_adecuado}}</span></li>
              <li>Envio: <span>A todo Chile (respectivo documento)</span></li>
              <li>Garantia: <span>1 Año</span></li>
            </ul>
          </div>



          <!-- seccion descripcion vehiculo con hidden -->

          <div class="container-descripcion">
            <div class="titulo-descripcion">
              <h4>Descripcion</h4>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="texto-descripcion hidden">
              <p>{{datos.descripcion}}</p>
            </div>
          </div>
          
          <div class="container-info-adicional">
            <div class="titulo-info-adicional">
              <h4>Informacion Adicional</h4>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="texto-info-adicional hidden">
              <p>{{datos.adiccional}}</p>
            </div>
          </div>

          <div class="container-social">
            <span>compartir</span>
            <div class="container-buttons-social">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
            </div>
          </div>
          <!-- *************************************************-->
          
        </div>
      </div>
    </div>











  <div class="header-mas">
    <span>Descubre</span>
    <h2>Aun no te decides?</h2>
    <p>Revisa nuestros Repuestos mas vistos</p>
  </div>

  

  <div class="card-container-rela">
    {% for relacionado in relacionados %}
    <div class="card-recomendados">
      <div class="imagencard">
        <img class="card-image" src="{% static 'upload/producto/' %}{{relacionado.foto}}" alt="{{relacionado.nombre}}"
        >

      </div>
      <h3 class="card-tituloreco">{{relacionado.nombre}}</h3>
      <p class="card-descripcion">Lorem ipsum dolor sit amet,pore impedit, placeat consequuntur!</p>
      <div class="contenedor-listacards">
        <ul class="lista-relacionados">

          <li class="lista-autorela">
            <ion-icon name="speedometer-outline"></ion-icon>

            <span class="lista-autorela-texto">{{datos.repuesto.tipo_parte}}</span>
          </li>

          <li class="lista-autorela">
            <ion-icon name="hardware-chip-outline"></ion-icon>

            <span class="lista-autorela-texto">{{datos.repuesto.categoria}}</span>
          </li>


        </ul>
      </div>
      <span class="valorprecio"><strong>Valor: $</strong>${{relacionado.precio |numberFormat }}</span>
      <a class="btn btn-outline-dark mt-auto" href="{% url 'productos_detalle_repuesto' relacionado.id relacionado.slug %}" title="{{relacionado.nombre}}"><i class="fas fa-check"></i> Ver Detalle</a>
    </div>

    {% endfor %}

    <!-- ... y así sucesivamente -->
  </div>


  <div class="volver">
    <input type="button" value="Volver a Categorias">
  </div>






  














    <!-- en django debo poner esta libreria de otra forma ver pag fontaweosome -->
    
    <script src="{% static '/jss/scriptVistaRepuesto.js' %}"></script>
    <script src="{% static 'jss/scripts.js' %}"></script>
  </body>
</html>

<form name="agregar_al_carro" action="{% url 'carro_crear' %}" method="post">
  {% csrf_token %}
   <input type="hidden" name="id" id="id" value="{{datos.id}}" />
   <input type="hidden" name="cantidad" />
 </form>

{% endblock %}