.slideer {
    width: 95vw;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
    overflow: hidden;
}

.slideer .slide-track{
    display: flex;
    animation: scroll 60s linear infinite;
    -webkit-animation: scroll 60s linear infinite;
    width: calc(200px * 14);
}

.slideer .slide{
    width: 120px;
    margin-left: 55px;

}

.slideer .slide img{
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}