{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=604800" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Autoportal - Venta de Vehiculos y repuestos</title>

<link href="{% static 'images/faviconn.ico' %}" rel="shortcut icon" type="image/x-icon">

<!-- jQuery -->
<script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    <!-- jQuery 2 -->

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<!-- mio -->



<!-- Bootstrap4 -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="{% static 'fonts/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet">

<!-- style -->
<link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />
<link href="{% static 'css/sliderr.css' %}" rel="stylesheet" >


<!-- javascript -->
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function() {
}); 
</script>
</head>



<!-- ========================= empieza pequeña barra arriba ========================= -->

<header class="section-header">
<nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
<div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTop4">
    <ul class="navbar-nav mr-auto">
    	<li class="nav-item dropdown">
		 	<a href="#" class="nav-link">   Espanol </a>
		    
		</li>
		<li class="nav-item dropdown">
			<a href="#" class="nav-link"> CLP </a>
		</li>
    </ul>
    <ul class="navbar-nav">
		<li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> Email </a></li>
		<li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> Llamanos</a></li>
	</ul> 
  </div> 
</div> 
</nav>
<!-- ========================= termina pequeña barra arriba ========================= -->



<!-- ========================= NAVBAR EMPIEZA========================= -->

<section class="header-main border-bottom">
	<div class="container">
<div class="row align-items-center">
	<div class="col-lg-2 col-md-3 col-6">
		<a href="./" class="brand-wrap">
			<img class="logo" src="{% static './images/autologo.png' %}">
		</a> 
	</div>
	<div class="col-lg col-sm col-md col-6 flex-grow-0">
		<div class="category-wrap dropdown d-inline-block float-right">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
				<i class="fa fa-bars"></i> Categorias 
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">categoria 1 </a>
				<a class="dropdown-item" href="#">categoria 2</a>
				<a class="dropdown-item" href="#">categoria 3</a>
				<a class="dropdown-item" href="#">categoria 4</a>
				<a class="dropdown-item" href="#">categoria 5</a> 
			</div>
		</div>
	</div> 
	
	<div class="col-lg  col-md-6 col-sm-12 col">
		<form action="#" class="search">
			<div class="input-group w-100">
			    <input type="text" class="form-control" style="width:60%;" placeholder="Search">
			    
			    <div class="input-group-append">
			      <button class="btn btn-primary" type="submit">
			        <i class="fa fa-search"></i>
			      </button>
			    </div>
		    </div>
		</form>
	</div> 
	<div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
				<div class="d-flex justify-content-end mb-3 mb-lg-0">
					<div class="widget-header">
						<small class="title text-muted">Bienvenido a Autoportal!</small>
						<div> 
							<a href="./signin.html">Ingresar</a> <span class="dark-transp"> | </span>
							<a href="./register.html"> Registrate</a>
						</div>
					</div>
					<a href="./cart.html" class="widget-header pl-3 ml-3">
						<div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
						<span class="badge badge-pill badge-danger notify">0</span>
					</a>
				</div> 
			</div> 
</div> 
	</div> 
</section> 
<!-- ========================= fin navbar ========================= -->



<!-- ========================= EMPIEZA banner aca ========================= -->

<div class="banner">
	<div class="banner-text">
	  <h1>Autoportal</h1>
	  <p>Bienvenido a nuestro portal de automóviles y repuestos</p>
	</div>
  </div>
  <style>
	.banner {
	  background-image: url("/static/images/autosbanner.jpg");
	  background-size: cover;
	  height: 550px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	
	.banner-text {
	  text-align: center;
	  color: #fff;
	  font-family: Arial, sans-serif;
	  font-size: 48px;
	  font-weight: bold;
	  text-shadow: 2px 2px #000;
	  padding: 20px;
	}
	
	.banner-text p {
	  font-size: 24px;
	  font-weight: normal;
	  margin-top: 20px;
	}
	
	@media only screen and (max-width: 600px) {
	  .banner {
		height: 250px;
	  }
	  
	  .banner-text {
		font-size: 36px;
		padding: 10px;
	  }
	  
	  .banner-text p {
		font-size: 18px;
	  }
	}
	</style>
	  

<!-- ========================= termina banner  ========================= -->

<style>
	/* Estilos para el section */
	.sectionn {
		background-color: #fffffffe;
		padding: 50px 0;
		text-align: center;
	}

	.h22 {
		font-size: 36px;
		font-weight: bold;
		margin-bottom: 50px;
		text-transform: uppercase;
	}

	/* Estilos para el slider */
	.slick-slider {
		margin: 0 auto;
		max-width: 900px;
	}

	.slick-slide {
		text-align: center;
	}

	.imgg {
		max-width: 100%;
		height: auto;
	}

	.h33 {
		font-size: 24px;
		margin-top: 20px;
	}

	.h44 {
		font-size: 18px;
		font-weight: normal;
		margin-top: 10px;
	}

	.pp {
		font-size: 14px;
		margin-top: 20px;
		line-height: 1.5;
	}
</style>
<script>
	$(document).ready(function(){
		// Inicializamos el slider con las opciones que queremos
		$('.slider').slick({
			arrows: true,
			dots: true,
			autoplay: true,
			autoplaySpeed: 5000
		});
	});
</script>
<section class="sectionn">
	<h2 class="h22">Novedades</h2>
	<div class="slider">
		<div>
			<img class="imgg" src="/static/images/autosbanner.jpg">
			<h3 class="h33">Título de la primera imagen</h3>
			<h4>Subtítulo de la primera imagen</h4>
			<p>Pequeño párrafo de la primera imagen</p>
		</div>
		<div>
			<img class="imgg" src="/static/images/autosbanner.jpg">
			<h3 class="h33">Título de la segunda imagen</h3>
			<h4 class="h44">Subtítulo de la segunda imagen</h4>
			<p class="pp">Pequeño párrafo de la segunda imagen</p>
		</div>
	</div>
</section>



<!-- ========================= SEPARADOR CON BOTON DE VER AUTOS// ========================= -->

<div style="background-color: #79bacc; border-top: 1px solid gold; border-bottom: 1px solid gold; padding: 10px; margin-bottom:40px;">
	<span style="float: left; font-weight: bold; font-size: 1.8em; margin-left:160px; color:#ffffff;">Automoviles</span>
	<button style="float: right; margin-right: 150px;"  type="button" class="btn btn-primary" > Ver todo</button>
	<div style="clear: both;"></div>
</div>	
<!-- ========================= SEPARADOR CON BOTON DE VER AUTOS// ========================= -->



<!-- ========================= SLIDER MARCAS AUTOS// ========================= -->
<div class="slideer">
	<div class="slide-track">
		<div class="slide">
			<img src="{% static './images/logo-autos/logo-audi.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-autos/logo-bmw.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-autos/logo-ford.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-autos/logo-kia.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-autos/logo-mercedes.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-autos/logo-nissan.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-autos/logo-peugeot.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-autos/logo-mazda.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-autos/logo-mercedes.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-autos/logo-mitsu-jpg.png' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-autos/logo-mahindra.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-autos/logo-dodge.hpg.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-autos/logo-chevrolet.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-autos/logo-peugeot.jpg' %}" alt="">
		</div>
	</div>
</div>
<!-- ========================= SLIDER MARCAS AUTOS// ========================= -->



<!-- ========================= CARDS autos // ========================= -->

<style>
	.card-container {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	}
	.card {
	  width: 22%;
	  margin-bottom: 20px;
	  margin-left: 20px;
	  margin-right: 20px;
	  padding: 10px;
	  border: 1px solid #000;
	  border-radius: 5px;
	  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	  transition: transform 0.3s ease-in-out;
	}
	.card:hover {
	  transform: translateY(-10px);
	}
	.card img {
	  width: 100%;
	  border-radius: 5px;
	  margin-bottom: 10px;
	}
	.card h3 {
	  font-size: 1.2rem;
	  font-weight: bold;
	  margin-bottom: 10px;
	}
	.card p {
	  font-size: 1rem;
	  line-height: 1.2;
	}
  </style>

<div class="card-container">
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
  </div>
  <div class="card-container">
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
  </div>


<!-- =========================FIN  CARDS autos  // ========================= -->




<!-- ========================= SEPARADOR REPUESTOS BOTON VER MAS // ========================= -->
<div style="background-color: #79bacc; border-top: 1px solid gold; border-bottom: 1px solid gold; padding: 10px; margin-bottom:40px;">
	<span style="float: left; font-weight: bold; font-size: 1.8em; margin-left:160px; color:#ffffff;">Repuestos</span>
	<button style="float: right; margin-right: 150px;"  type="button" class="btn btn-primary" > Ver todo</button>
	<div style="clear: both;"></div>
</div>	
<!-- ========================= SEPARADOR REPUESTOS BOTON VER MAS // ========================= -->




<!-- ========================= SLIDER DE MARCAS DE REPUESTOS // ========================= -->

<div class="slideer">
	<div class="slide-track">
		<div class="slide">
			<img src="{% static './images/logo-repuestos/logo-airtex.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-repuestos/logo-bosh.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-repuestos/logo-contintental.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-repuestos/logo-depo.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-repuestos/logo-echlin.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-repuestos/logo-facet.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-repuestos/logo-luk.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-repuestos/logo-mando.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-repuestos/logo-monroe.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-repuestos/logo-stp.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-repuestos/logo-valeo.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-repuestos/logo-mercedes.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-repuestos/logo-nissan.jpg' %}" alt="">
		</div>
		<div class="slide">
			<img src="{% static './images/logo-repuestos/logo-peugeot.jpg' %}" alt="">
		</div>
	</div>
</div>
<!-- ========================= SLIDER DE MARCAS DE REPUESTOS // ========================= -->



<!-- ========================= CARDS de repuwestos // ========================= -->

<style>
	.card-container {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	}
	.card {
	  width: 22%;
	  margin-bottom: 20px;
	  padding: 10px;
	  border: 1px solid #000;
	  border-radius: 5px;
	  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	  transition: transform 0.3s ease-in-out;
	}
	.card:hover {
	  transform: translateY(-10px);
	}
	.card img {
	  width: 100%;
	  border-radius: 5px;
	  margin-bottom: 10px;
	}
	.card h3 {
	  font-size: 1.2rem;
	  font-weight: bold;
	  margin-bottom: 10px;
	}
	.card p {
	  font-size: 1rem;
	  line-height: 1.2;
	}
  </style>

<div class="card-container">
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
  </div>
  <div class="card-container">
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
	<div class="card">
	  <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
	  <h3>Título de ejemplo</h3>
	  <p>Descripción de ejemplo.</p>
	</div>
  </div>
<!-- ========================= FIN CARDS de repuestos // ========================= -->


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy Autoportal </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">AutoportalVentas@autoportal.com</span>
				<span  class="px-2">+696969699</span>
				<span  class="px-2">103 Iquique, Chile</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

</body>
</html>