@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* NAVBAR ACA*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body
{
    max-width: 1400px; 
    height: 100vh;
    width: 100%;
    position: relative;   /*****************************************/
    background: #ffffff;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header{
    background-color: #e4e4e8;
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 0 7px 8px -3px grey;
    position: fixed;
    width: 100%;
    margin-top: -10px;
    z-index: 99;
}

.contenedorNav{
    max-width: 1400px;
    position:  absolute;
    top: 0;
    left: 0;
    width: 100%;
    background:#fff;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0,0.05);

}

.logo{
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em ;
}

.grupo{
    display: flex;
    align-content: center;
}

.contenedorNav ul {   
    position: relative;
    display: flex;
    gap: 60px ;
    margin-bottom: -25px;
}


.contenedorNav ul li {
    list-style: none;
    display: inline-block;   
}

.contenedorNav ul li a {
    max-width: 1400px;
    position: relative;
    text-decoration: none;
    font-size: 16px ;
    color: #333;
    text-transform: capitalize;
    letter-spacing: 0.2 em ;
    
}

/*  SUBMENU ACAQAA  */
/*
.navegacion{
    position: sticky;
}
*/
.contenedorNav .navegacion li {
    position: relative;
    width: 100%;
    
}

.contenedorNav .navegacion li .submenu{
    margin-top: 3px;
    display: block;
    position: absolute;
    width: 120px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: translateX(20px);
    transition: .3s all;
}

.navegacion a{
    transition: .3s all;
}
.navegacion li:hover > a{
    color: orange;
}
.navegacion li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.navegacion .submenu li:hover {
    background-color: orange;
}


.contenedorNav .navegacion li .submenu li {
    padding: 10px 10px;
}

.contenedorNav .navegacion li .submenu li a {
    font-size: 16px;
    color: #000;
}








/*  NAV icono usuario */


.navegacion .user-pic{
    width: 40px ;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}



.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: -7%;
    width: 280px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}






.sub-menu{
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
}

.user-info img{
    width: 60px;
    border: 50%;
    margin: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}


.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}


.sub-menu-link p {
    width: 100%;
}

.sub-menu-link img{
    width: 40px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px;   
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 14px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;

}



.contenedorNav ul li a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #333;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
} 

.contenedorNav ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.menuToggle{
    position: relative;
    display: none;
}


/* responsividad para el NAVBAR */
@media (max-width: 750px)
{
    .menuToggle{
        position:relative;
        display: block;
        font-size: 2em;
        cursor: pointer ;
        transform: translateX(15px);
        z-index: 100;
    }
    .contenedorNav .navegacion
    {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        right: 0;   /* este era el problema del width doble*/
      
    }

    .contenedorNav.open .navegacion{
        
        top: 80px;
        opacity: 1;
        visibility: visible;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 40px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);

    }

    .contenedorNav.open .navegacion li a {
        font-size: 1.23em;
    }
}


/* BANNER inicial aca*/

.contenedor-banner{
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.contenedor-banner .banner{
    max-width: 1400px;
    background: linear-gradient(-55deg, #6ddcda 29%, #19334b 29.1% ,#d63031 68%, #4186ac 68.1%);
    border-radius: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
    width: 100%;             /*ancho banner*/
}

.contenedor-banner .banner .img-banner1{
    flex: 1 1 250px;
    padding: 15px;
    text-align: center;
}

.contenedor-banner .banner .img-banner1 img{
    width: 80%;
}

.contenedor-banner .banner .contenido-banner{
    flex: 1 1 250px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.contenedor-banner .banner .contenido-banner span{
    color: #eee;
    font-size: 25px;
}

.contenedor-banner .banner .contenido-banner h3{
    color: #fff;
    font-size: 40px;
}

.contenedor-banner .banner .contenido-banner p{
    color: #fff;
    font-size: 20px;
    padding: 10px 0;
}

.contenedor-banner .banner .img-banner2{
    bottom: -33px;
    padding: 10px;
    flex: 1 1 250px;
}

.contenedor-banner .banner .img-banner2 img{
    width: 100%;
}






/*SLIDER CARDS DE AUTOS INCIO*/

.slider-inicio{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 95%;
}

/* texto zona 'encuentra tu auto y todo lo que necesitas, mas linea separadora de abajo*/
.texto{
    background: linear-gradient(100deg, #bdf0ef 10%, #a7c8e6 10.1% ,#88bbea 90%);
    margin: 40px auto;
    padding: 10px;
    text-align: center;
    width: 80%;
    background-color: #f2eded;
    
}
.texto h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: rgb(255, 254, 254);
    margin: 20px;
    font-size: 25px;
}
.texto p{
    width: 60%;
    padding: 20px;
    margin: auto;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 15px;

}

.texto h1{                        /* Con esto, dibujo una barra por debajo de x cosa, en este caso el h1*/
    display: inline-block;
    position: relative;
}

.texto h1::after{                 /* luego hago el after del h1 */
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: rgb(202, 255, 155);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}


.texto h1:hover::after{           /* hover+after y fin barra animada por debajo de h1 */
    transform: scaleX(1);
    transform-origin: bottom left;
} 
/* responsividad texto zona 'encuentra tu auto y todo lo que necesitas, mas linea separadora de abajo*/

@media(max-width: 768px)
{
    
    .texto{
        align-content: center;
        text-align: center;
        font-size: 20px;
        margin:0;
        width: 100%;
    }.texto h1{
        font-size: 25px;
    }
    .texto p{
        font-size: 15px;
        width: 100%;
    }
    .linea-separadora h1{
        font-size: 20px;
    }
}

@media(max-width: 300px)
{
    
    .texto{
        align-content: center;
        text-align: center;
        margin:0;
        width: 100%;
    }.texto h1{
        font-size: 15px;
        text-align: center;
        padding-left: 17px;
    }
    .texto p{
        font-size: 12px;
        width: 100vw;
        padding-right: 60px;
        line-height: 20px;
    }
    .linea-separadora h1{
        font-size: 15px;
    }
}






.linea-separadora{   /* linea negra separadora sider banner*/
    width: 100%;
    height: 60px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 2px solid #111111;
}

/* boton ver mas*/
.button1{
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    padding: 0px 14px;
    border-radius: 6px;
    background: #39b7da;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
    height: 50px;
    margin-bottom: 5px;
}
.button1:hover{
    background: #158792;
}





.linea-separadora p  {  
    font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: #555;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
}

/*  flechas para mover productos slider autos  Y EL DE REPUESTOS ES EL 2 , MAS HOVER */

.glider-prev:hover{
    background: #222;
    color: white;
}

.glider-next:hover{
    background: #222;
    color: white;

}


.glider-prev2:hover{
    background: #222;
    color: white;
    cursor: pointer;
}

.glider-next2:hover{
    background: #222;
    color: white;
    cursor: pointer;

}

/* Cards slider*/




.cardslider-autos{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: 0px 20px;
    position: relative;
}

.p-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 16px;

}

.p-img a,
.p-img{
    width: 100%;
    height: 100%;
    display: flex;
}

.p-img a img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    animation: fade 0.6s;
    
}

.p-img-lado{
    display: none;
}

.p-img-container:hover .p-img-lado{
    display: block;
}

.p-img-container:hover .p-img-frente{
    display: none;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* titulo marca-modelo precio y boton ver detalle de las cajas de seccion slider auto*/

.p-textocaja{
    margin-top: 5px;
    width: 100%;
}

.marca-modelo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.marca-modelo span{
    color: #acacac;
    font-size: 0.9em;
    margin: 5px 0px;
}

.titulo-slidercard{
    color:#333333;
    font-weight: 600;
    text-decoration: none;
    transition: all ease 0.3s;
}

.titulo-slidercard:hover{
    color: #111111;
    opacity: 0.7;
    transition: all ease 0.3s;
}

.cartel-precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.cartel-precio .p-precio{
    font-size: 1.3rem;
    color: #333333;
    font-weight: 700;
}

.cartel-precio .btn-verdetalle {
    color: orange;
    margin: 0px 5px;
    font-weight: 600;
}
.cartel-precio .btn-verdetalle:hover{
    text-decoration: underline;
}

/*cartel descuento pequeño dentro de card de autos*/



.slider-btns{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 30px auto 10px auto;
    padding: 0px 10px;
}

.slider-btns button{
    position: static !important;
    transform: translate(0,0);
    background-color: #f3f3f3;
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
}

.slider-btns button span{
    font-weight: bold;
    padding: 10px 15px 10px 10px;
    position: relative;
    text-decoration: none;
}

.slider-btns button span::before,
.slider-btns button span::after{
    border-right: 2px solid;
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    transform: rotate(135deg);
    right: 10px;
    top: 50%;
    width: 0;
    content: '';
}

.slider-btns button span::after{
    margin-top: -1px;
    transform: rotate(45deg);
}

.slider-btns .glider-prev span{
    transform: rotate(-180deg);
}

.slider-btns .glider-prev2 span{            /*.glider-prev2 recordar el 2 es el glider repuestos*/
    transform: rotate(-180deg); 
}
/*tamaño mediano para cards botones de movimiento img etc*/
@media(max-width: 500px){
    .cardslider-autos{
        margin: 0px 10px;
    }
    .slider-inicio{
        width: 100%;
    }
    .btn-verdetalle{
        font-size: 10px;
    }
    .p-img a,
    .p-img{
        height: 200px;
    }
    .cartel-precio .p-precio{
        font-size: 1.1rem;
    }
    .p-img-container:hover .p-img-lado{
        display: none;
    }
    .p-img-container:hover .p-img-frente{
        display: block;
    }
}

/*imagen y boton mover slder en tamaño minimo*/
@media (max-width:320px){
    .p-img a,
    .p-img{
        height: 190px;
    }
    .slider-btns{
        padding: 0;
        height: 40px;
        width: 140px;
    }
}



.logo{
    max-height:50px;
    width: auto;
}


/********************************************************************************************/


/*banner de abajo*/
.banner-abajo{
    position: relative;
    background: url(/IMG/repuestos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    width: 100%;
    overflow: hidden;

}

.contenedor-bannerbajo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(10, 6, 6);
    font-weight: 700;
    text-transform: uppercase;
}

.contenedor-bannerbajo h1{
    font-size: 30px;
}

.contenedor-bannerbajo h1 span{
    border: 6px solid rgb(176, 227, 199);
    padding: 6px 14px;
    display: inline-block;
}

.cen{
    margin: 20px;
    margin-bottom: 56px;
    display: block;
    font-size: 26px;
    color: #b5e743
}

.btn-bannerbajo{
    color: #fbfbfb;
    padding: 10px 24px;
    background: #3d3a3a;
    text-decoration: none;
    border-radius: 12px;
    transition: .6s;
}

.btn-bannerbajo:hover{
    opacity: 0.6 ;
}

@media (max-width:768px){
    .banner-abajo{
        font-weight: 100;
        font-size: 30px;
        margin: auto;
    }
    .contenedor-bannerbajo h1{
        font-size: 20px;
    }

   .cen{
    font-size: 12px;
    text-align:center;
   }
    
    .btn-bannerbajo{
        font-size: 5px;
        font-size: 8px;
    }
}



/* FOOTER FEO */
footer{
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.logofooter{
    height: 70px;
    margin-bottom: 1rem;
    margin-left: 570px;
    align-content: center;
}


.container-iconos-sociales, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

}

.social-iconos{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid white;
    background-image: url(/IMG/coche-azul.jpg);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-iconos:hover{
    background-color: black;
    filter: invert(1);
}

.social-iconos:nth-of-type(2){
    background-image: url(/IMG/coche-azul.jpg);
}
.social-iconos:nth-of-type(3){
    background-image: url(/IMG/coche-azul.jpg);
}
.social-iconos:nth-of-type(4){
    background-image: url(/IMG/coche-azul.jpg);
}

.footer-menu-container{
    list-style-type: none;
    color: white;
    font-size: 18px;
}

.item-menu{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
}

.copyrgt{
    color: white ;
    opacity: 0.3;
    text-align: center;
}
















/* CONTENEDOR DE FORMULARIO MAS ADD DEL PRINCIPIO*/

  .container-add {
    background-image: url('/IMG/caminohd-fondo.jpg');
    width: 100%;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .form-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    color: #fff;
  }


  .form-container {
    width: 50%;
    float: left;
    padding: 20px;
    background-color: rgba(0, 0, 0,0.2);
    border-radius: 20px;
    border: 2px solid #ccc;
    overflow: hidden;
    margin: 120px;
    max-width: 30%;
  }
  
  .form-container h2 {
    margin-bottom: 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
  } 
  
  .form-group select {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }
  
  .form-group:nth-child(1) select,
  .form-group:nth-child(2) select {
    border-top-right-radius: 20px;
  }
  
  .form-group:nth-child(1) select,
  .form-group:nth-child(3) select {
    border-top-left-radius: 20px;
  }
  
  .form-group:nth-last-child(1) select,
  .form-group:nth-last-child(2) select {
    border-bottom-right-radius: 20px;
  }

.form-group:nth-last-child(1) select,
.form-group:nth-last-child(2) select {
  border-bottom-right-radius: 20px;
}

.form-group:nth-last-child(1) select,
.form-group:nth-last-child(3) select {
  border-bottom-left-radius: 20px;
}


.form-group:nth-child(2) {
    grid-area: marca;
  }

.form-group:nth-child(3) {
    grid-area: modelo;
  }

.form-group:nth-child(4) {
    grid-area: anno-min;
  }
  
  .form-group:nth-child(5) {
    grid-area: anno-max;
  }




  /* ADDDDDDDDDDDD*/
  .ad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: auto;
    width: 700px;
    border-radius: 10px;
}

  .ad-image {
    border-radius: 10px;
    width: 100%;
  }



  /* MEDIA QERYS PARA TODO ESTE CONTAINER, PADRE, FORM-CONTAINER Y AD-CONTAINER*/
  @media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
    }
    
    .ad-container {
      width: 100%;
      margin: 10px 0;
    }
    
    .form-container {
      width: 90%;
      margin: 10px auto;
      padding: 10px;
      display: contents;
    }
    
    .form-container form {
        width: 100%;
    }

    .form-title{
        margin: 20px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    .form-group button {
        width: 80%;
        margin: 35px;
      }
  
    .form-group select { 
      width: 95%;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  
    .form-group:nth-child(1),
    .form-group:nth-child(2) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .form-group:nth-child(3),
    .form-group:nth-child(4) {
      width: 50%;
      margin-right: 20px;
      margin-bottom: 10px;
    }
  
    .form-group:nth-last-child(1) {
      margin-right: 0;
    }
}
  

  
/* slide de logos marcas  */

@keyframes slide {
    from {
        transform: translateX(0); 
    }
    to{
        transform: translateX(-100%);
    }
}

.logos{
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}  

.logos::before,
.logos::after{
    position: absolute;
    top: 0;
    width: 100%; /* */
    height: 100%;
    content: "";
    z-index: 2;
}

.logos::before{
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0),white) ;
}

.logos::before{
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0),white) ;
}


.logos:hover .logos-slide { 
    animation-play-state: paused;
}

.logos-slide{
    display: inline-block;
    animation: 90s slide infinite linear;
}

.logos-slide img{
    height: 50px;
    margin: 0 40px;
}










/*  ul lista de iconos en las cards, n personas etc.*/

.cardslider-autos .lista-card {
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    margin-bottom: 15px;
    margin-top: 15px;
}

.cardslider-autos .lista-card-item {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.cardslider-autos .lista-card-item ion-icon {
    font-size: 20px;
    color: var(--carolina-blue);
    --ionicon-stroke-width: 38px;
}


.cardslider-autos .lista-card-texto {
    color: var(--independence);
    font-size: var(--fs-6);
}


@media (max-width: 750px){
    .cardslider-autos .lista-card-item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .cardslider-autos .lista-card-item ion-icon {
        font-size: 18px;
        color: var(--carolina-blue);
        --ionicon-stroke-width: 30px;
    }
    
    
    .cardslider-autos .lista-card-texto {
        color: var(--independence);
        font-size: 14px;
    } 
    .cardslider-autos .cartel-precio .p-precio{
        font-size: 15px;
    }
    .cardslider-autos .marca-modelo{
        font-size: 15px;
    }
    .cardslider-autos .titulo-slidercard{
        font-size: 13px;
    }
}





/* categorias tipos de vehiculos esferas */


.categorias{
    background-color: #ffffff;
    width: 100%;
    margin: 40px;
}


.categorias .wrapper{
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.categorias .wrapper .container-categorias{
    display: flex;
    gap: 35px;
}

.categorias .wrapper .container-categorias .cat{
    width: 170px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
}

.categorias .wrapper .container-categorias .cat img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.categorias .wrapper .container-categorias .cat img img {
    transition: transform 0.9s ease;
  }
  
  .categorias .wrapper .container-categorias .cat img:hover {
    transform: translatey(5px);
  }



@media (max-width: 750px){
    
    
    .container-categorias{
        flex-wrap: wrap;
    }
    .titulocategorias{
        align-self: auto;
    }
}




/*carrito :)*/


.cart{
    font-size: 30px;
    cursor: pointer ;
    /* width: 39px;
    height: 38px;*/
}


.cart-icon {
    position: relative;
    display: inline-block;
}
  


 /*0 arriba de carrito */
.count-product {
    position: absolute;
    top: -10px; 
    right: -10px; 
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 6px ;
    font-size: 12px;
    z-index: 1;
}



.cart-products{
    position: absolute!important;
    top: 60px;
    right: -30px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;
    min-width: 290px;
}


/*end header*/
.products{
    padding-top: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carts{
    max-width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding-bottom: 34px;
    margin-bottom: 40px;
}
.carts img{
    width: 100%;
}
.carts p{
    font-family: system-ui;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom: 24px;
}
.carts div p{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: rgb(0, 235, 129);
    color: #fff;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.carts div{
    position: relative;
}
.carts a{
    font-family: system-ui;
    text-decoration: none;
    background: red;
    padding: 9px 23px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.carts a:hover{
    background: #fff;
    color: red;
    border: solid 2px red;
    transition-duration: .3s;
}

/*float cart*/
.cart-products .item img{
    width: 115px;
}

.cart-products .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px red;
}
.cart-products .item .item-content{
    margin: 0 19px;
    width: 201px;
}
.cart-products .item .item-content h5{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item .item-content h6{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item span{
    background-color: red;
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.cart-products h3{
    margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
    font-weight: 700;
}


p.close-btn{
    top: -4px;
    right: 6px;
    cursor: pointer;
    color: #000;
}

.price-total{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(214, 183, 9);
}


.total-p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}
